{% extends "index.html" %}

{% block subtitle %}
Defining the Problem
{% endblock %}

{% block main %}
<div class="container-title">
    <center><h1>UNDER CONSTRUCTION</h1></center>
</div>

<div class="container-title">
    <center><h2>Seperating the Problems</h2></center>
</div>
<p>
    We can split the objective into three parts. The first part is actually creating the bf program. The second part is what I call the decoding
    process. This would be the part where we calculate the values for each cell and find out what cells we are going to output.
    The third and final process is what I call parse. This part will convert the values of the outputted cells into their corresponding
    letter.
</p>

<div class="container-title">
    <center><h2>Solving the Problems</h2></center>
</div>
<div class="container-subtitle">
    <center><h3>Part 1 - Creating the BF Program</h3></center>
</div>
<p>
    I call creating the Brainfuck program a problem because even though the language is super simple, the minimalism can easily make you
    confused and/or overwhelmed. With this confusion the most basic program and starting point for learning any programming language
    becomes quite difficult. This program is to send "Hello World" to the command line. This leads to an annoying problem that I often faced while
    working on this project. The problem being whenever I had a bug in my code I had to ask the question of was it the interpreter that
    messed up or was it the BF source code that was wrong. <a class="info-link" href="/mistaken_identity">For a example of the problem click me</a>
</p>


{% endblock %}