{% extends "notes_base.html" %}

{% block subtitle %}
The Mistaken Error Cause
{% endblock %}

{% block main %}
<div class="container-code">
    <ol class="code">
        <li class="code-comment">
            H - cell 1
        </li>
        <li>
            ++++++++[>+++++++++<-]>,.
        </li>
        <li class="code-comment">
            e - cell 3
        </li>
        <li>
            >>+++++[<+++++>-]<
        </li>
        <li>
            [>++++<-]>+,.
        </li>
        <li class="code-comment">
            Change e to l
        </li>
        <li>    
            <+++[>++<-]>+,..
        </li>
        <li class="code-comment">
            o and r - cells 4 and 5
        </li>
        <li>
            >>>+++++++++++
        </li>
        <li>
            [<++++++++++<++++++++++>>-]<<+,.>++++
        </li>
        <li class="code-comment">
            SPACE - cell 7
        </li>
        <li>
            >++++++[>+++++<-]>++,.
        </li>
        <li class="code-comment">
            W - cell 9
        </li>
        <li>
            >>+++++[<++>-]<+[>++++++++<-]>-,.
        </li>
        <li class="code-comment">
            going back for other characters
        </li>
        <li>
            <<<<<,.>,.<<,.>>>>>>>>
        </li>
        <li class="code-comment">
            d - cell 11
        </li>
        <li>
            +++++[>+++++<-]>[<++++>-]<,.
        </li>
    </ol>
</div>
<p>
    This was a Brainfuck program that I created to output Hello World. I color coded my comments in green and the code in blue. After running 
    the interpreter a lot of the values were subtracted by what felt like a random amount. After going through the entire decoding process 
    line by line I found out that there were 6 - commands that were not intended. Look at the code above and see if you can find the 6 - commands. 
</p>

<p>
    If you found them then good on you, if not that is fine because it took me a while to find out where these lost commands were.
    The commands are in the comments I put, thoses dashes in between the letter and cell number were being read as a subtract command.
    It was many problems like this that plagued the development of this project because it was so hard to decipher whether it was the bf code
    or the interpreter code that was messing up
</p>


{% endblock %}