:root{
    font-size: 20px;
    font-family: 'Ubuntu';
    --transition-speed: 600ms;
    --main-background: #404040;
    --primary-text-color: #999999;
    --secondary-text-color: #dddddd;
    --navbar-secondary-background: #1E1E1E;
    --code-color: #36a3f0;
    --code-comment-color: #00ffa6;
}   

body{
    color: var(--primary-text-color);
    background-color: var(--main-background);
    margin: 0;
    padding: 0;
}

main{
    padding: 1rem;
}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    background: var(--main-background);
}

body::-webkit-scrollbar-thumb{
    background: var(--secondary-text-color);
}

.background{
    color: var(--primary-text-color);
    background-color: var(--main-background);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    width: 75%;
    align-items: center;
}

.container-vertical{
    display: flex;
    width: 75%;
    align-items: center;
    flex-direction: column;
}

.container-title{
    display: flex;
    width: 75%;
    font-size: 30;
    align-items: center;
    justify-content: center;
}

.container-subtitle{
    display: flex;
    width: 75%;
    font-size: 25;
    align-items: center;
    justify-content: center;
}

.container-code{
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: left;
    background: var(--navbar-secondary-background);
}

.code-comment{
    color: var(--code-comment-color);
}
.code{
    color: var(--code-color);
}

.info-link{
    text-decoration: none;
    color: var(--secondary-text-color);
}

.back-link{
    text-decoration: none;
    color: var(--secondary-text-color);
    padding: 1rem;
}

.container-image{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
}

.nested-image{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.img{
    width: 100%;
    height: 100%;
}